/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Open+Sans&display=swap');

/* Body defaults */
body {
  background-color: white;
  color: #2e008b;
  font-family: "Open Sans", sans-serif;
}

/* Navbar */
nav {
   background-color: #2e008b;           /* ACED Branding Dark Blue */
   color: white;
   position: fixed;                     /* Pin navbar to top of page */
   width: 100%;
   top: 0;
   left: 0;
   display: flex;
   justify-content: space-between;      /* Separate title and nav links */
   z-index: 999;                        /* Keep navbar on top of page content */
 }

nav header {
  padding-left: 15%;                    /* Match body padding */
}

#nav-logo {
  height: 65px;
  display: flex;
  align-items: center;
}

#nav-header {                           /* Format navbar title TODO rename unambiguously */
  color: white;
  text-decoration: none;
}

#nav-header:hover {                     /* Format navbar title TODO rename unambiguously */
  color: #00b6ed;
}

#nav-link-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15%;                   /* Match body padding */
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 15px 0px 15px 30px;         /* Make rightmost link align with body */
}

/* Main and key content elements */

main {
  padding:  80px 15% 60px 15%;        /* Fixed top for header, relative edges */
}

h1 {
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;
  }

p {
  text-align: justify;
  text-justify: inter-word;
  }

a {
  text-decoration: none;
  color: #00b6ed;
}

a:hover {
  color: #00b6ed;
}

.responsive-image {         /* Responsive images inside flexbox containers  */
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#aced-cohort-logo-index {

}

 /* HTML "details" collapsibles */

.faq-details > summary {
   padding: 5px 15px;
   width: auto;
   background-color: #ccf3ff; /* ACED light blue HSL mod from L=46 to 90%*/
   /*border: none;*/
   box-shadow: 3px 3px 4px #2e008b;
   cursor: pointer;
 }

.faq-details > p {
   background-color: #ccf3ff;
   padding: 5px 15px;
   margin: 0;
   box-shadow: 3px 3px 4px #2e008b;
 }

 .about-details > summary {
   font-size: large;
   width: auto;
   cursor: pointer;
   padding: 10px 0px;
  }

  .about-details > summary:hover {
     color: #00b6ed;
   }

 .about-details > p {
  }




 /* Footer */

 footer {
   color: white;
   background-color: #00b6ed;
   padding:  0 15% 0 15%;
   display: flex;
   justify-content: space-between;
 }

 footer a {
   text-decoration: none;
   color: white;
 }

 footer a:hover {
   color: #2e008b;
 }

 /* Flexbox-based sticky footer (https://www.developerdrive.com/sticky-footer-with-flexbox/)*/
 body {
     min-height: 100vh;
     display: flex;
     flex-direction: column;
 }
 .content {
     flex: 1;
 }
 footer {
     flex-shrink: 0;
 }

 /* Image formatting  */

 .picture {
   text-align: center;
   margin-top: 40px;
 }

 .picture-row {              /* Flexbox-based image row  */
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .picture-col {
   padding: 15px 0 15px 0;
 }

 #acc-logo-col {
   padding: 0 5% 0 5%;
 }

 #acc-logo-narrow {
   display: none;
 }

 /* Natural breakpoint: When page title runs onto two lines */

@media (max-width: 1170px) {

  #index-title {
    text-align: center;
  }

  .picture-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .picture-col {
    padding: 15px;
  }

  #acc-logo-col {
    max-width: 460px;
    order: -1;
  }

  #cuh-logo-col {
    max-width: 300px;
  }

  #nihr-logo-col {
    max-width: 300px;
  }


}


@media (max-width: 1015px) {
  .nav-link {
    padding: 15px 0px 15px 10px;       /* Reduce left padding */
  }
}

/* Natural breakpoint: When navbar title and links collide */

@media (max-width: 880px) {
   main {
     padding:  100px 10% 40px 10%;        /* Fixed top/bottom for head/foot, relative sides */
   }

   nav {
     flex-direction: column;    /* navbar title above links flexbox */
     align-items: center;
   }

  nav header {
     padding-left: 0;           /* remove now-superflous padding */
   }

  nav header h1 {
    margin: 5px 0 0 0 ;         /* adjust padding to maintain navbar height */
  }

  #nav-link-list {
    padding: 6px;               /* adjust padding to maintain navbar height */
  }

  .nav-link {
    padding: 15px;              /* make padding uniform to align centrally */
  }



}

@media (max-width: 540px) {

  footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  footer > p {
    margin: 2px;
  }
}

/* Natural breakpoint: When page is too narrow for link flexbox */

@media (max-width: 460px) {
  .nav-link {
    padding: 5px;              /* reduce padding to condense menu */
  }

  #acc-logo-wide {
    display: none;
  }

  #acc-logo-narrow {
    display: block;
    max-width: 250px;
  }

}
